/target
.env
a_little_overrated_playlist_*.json
fairly_overrated_playlist_*.json
very_overrated_playlist_*.json
a_little_underrated_playlist_*.json
fairly_underrated_playlist_*.json
very_underrated_playlist_*.json
all.zip